<a href="#/Login.html">Go back to login</a>


<table>
    
<tr>
<td>
<label>Name:</label>
</td>    
    <td>
    <input type="text">
    </td>
</tr>

    <tr>
<td>
<label>Email:</label>
</td>    
    <td>
    <input type="text">
    </td>
</tr>
    
    <tr>
<td>
<label>Password:</label>
</td>    
    <td>
    <input type="password" ng-model = "Reg_Password"  ng-change = 'CheckPassword()' > 
    </td>

</tr>
    
    <tr>
<td>
<label>Confirm Password:</label>
</td>    
    <td>
    <input type="password" ng-model = "Reg_Cnfpassword" ng-change = 'CheckPassword()'  ng-focus = "show=true"> <span ng-show = "show"> Passwords Did Not Match..!!!</span>
    </td>
</tr>
    
    <tr align="center">
    <td>
    <input type="button" value="Register"  >   
    </td>
    </tr>
    
</table>

<br>

